@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    margin: 0px;
    height: 100%;
}

body {
    font-size:12px;
    font-family:'Montserrat';
    font-weight:0,500;
    margin:0px;
    padding:0px;
    height:100%;
    background-color: #f2f2f2;
}

header {
    background-color: #ffffff;
    padding:0px;
    width: 175px;
    height:100%;
    margin: left;
    float:left;
    border-right:  #e6e6e6 2px solid;
    position: fixed;
}

#logo {
    margin: auto;
    padding: 20px;
    display:block;
}

ul {
    padding:0px;
    margin: 0px;
}

li {
    list-style: none;
    text-align: center;
    margin: 15px;
}

a {
    text-decoration: none;
}

.menu  {
    background-color: #f8f8f8;
    width: 100px;
    padding: 15px;
    margin:auto;
    border-radius: 10px;
    border:  #e6e6e6 2px solid;
    font-size:12px;
    font-family:'Montserrat';
    font-weight:800;
    color: #808080;
    transition:1s;
}

.menu:hover {
        background-color: #a8e5f2;
        border:  #2f96ae 2px solid;
        transition:0.5s;
        color: white;
}

#Contenedor {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

section {
    width: 100%;
    float:left;
    padding-left:175px;
    margin:0px;
    box-sizing: border-box;
}

.Titulos {
    font-size:14px;
    font-family:'Montserrat';
    font-weight:600;
    width: 100%;
    float:left;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-bottom:  #e6e6e6 2px solid;
    border-top:  #e6e6e6 2px solid;
}

section article {
    float:left;
    padding: 0px;
    margin: 20px;
    background-color: #ffffff;
    width: 130px;
    height: 190px;
    border:  #e6e6e6 2px solid;
    border-radius: 10px;
}

section article h2 {
    font-size:40px;
    font-family:'Montserrat';
    font-weight:900;
    color: white;
    width: 70px;
    height: 70px;
	border-radius: 50%;
	background: #f9dbb0;
    border: 2px solid #eea536;
    -webkit-text-stroke: 2px #eea536;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    margin:15px auto;
    padding:3%
}

section article h3 {
    text-align: center;
    font-weight:600;
    padding: 0px;
}

.boton {
    border-radius:15px;
    border:#e6e6e6 2px solid;
    width: 96px;
    height:22px;
    margin:auto;
    padding:3px;
    background-color: #f8f8f8;
    display:block;
    font-size:14px;
    font-family:'Montserrat';
    font-weight:800;
    transition:0.5s;
  }
  
  .boton-text {
    text-align:center;
    color:#808080;
    font-size:14px;
    font-weight:800;
    float:left;
    width: 100%;
    margin:auto;
    padding-top:1px;
    box-sizing: border-box;
  }
  
  .boton-img {
    padding-top:1px;
    margin:auto;
    width:20px;
    float:left;
    transition:0.5s;
    display:none;
    box-sizing: border-box;
  }
  
  .boton:hover {
    background-color: #a8e5f2;
    border:  #2f96ae 2px solid;
    transition:0.5s;
    font-size:14px;
    font-family:'Montserrat';
    font-weight:800;
  }
  
  .boton:hover > .boton-img {
    display:block;
    transition:0.5s;
  }
  
  .boton:hover > .boton-text {
    width:73px;
    font-size:14px;
    font-family:'Montserrat';
    font-weight:800;
    color: white;
  }
  
  .svg {
    width:20px;
    height:20px;
    padding:0;
    margin:auto;
    float:left;
  }
  
  .st0{fill:#7FDFF0;stroke:#2F96AE;stroke-miterlimit:20;stroke-width:2}
  .st1{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10}

  .boton2 {
    border-radius:20px;
    border:#e6e6e6 2px solid;
    width: 200px;
    height:30px;
    margin:15px;
    padding:3px;
    background-color: #f8f8f8;
    display:block;
    font-size:14px;
    font-family:'Montserrat';
    font-weight:800;
    transition:0.5s;
    float:left;
  }

  .boton-text2 {
    text-align:center;
    color:#808080;
    font-size:14px;
    font-weight:800;
    float:left;
    width: 100%;
    margin:auto;
    padding-top:6px;
    box-sizing: border-box;
  }

  .boton-img2 {
    padding-top:5px;
    margin:auto;
    width:20px;
    float:left;
    transition:0.5s;
    display:none;
    box-sizing: border-box;
  }
  
  .boton2:hover {
    background-color: #a8e5f2;
    border:  #2f96ae 2px solid;
    transition:0.5s;
    font-size:14px;
    font-family:'Montserrat';
    font-weight:800;
  }
  
  .boton2:hover > .boton-img2 {
    display:block;
    transition:0.5s;
  }
  
  .boton2:hover > .boton-text2 {
    width:175px;
    font-size:14px;
    font-family:'Montserrat';
    font-weight:800;
    color: white;
  }

  #Intermedios {
      margin-top: 0px!important;
  }